<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="/member/update" method="post">
    <input type="hidden" th:value="${updateDto.id}" name="id"><br>
    이메일: <input type="text" th:value="${updateDto.memberEmail}" name="memberEmail" readonly> <br>
    비밀번호: <input type="text" th:value="${updateDto.memberPassword}" name="memberPassword"> <br>
    이름: <input type="text" th:value="${updateDto.memberName}" name="memberName"> <br>
    <input type="submit" value="정보수정">
</form>
</body>
</html>